.colorbox {
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: black solid 3px;
  font-size: 4vw;
  font-weight: 900;
  font-family:serif;
  border-radius: 50%;
}


.colorboxDiv {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}




* {
  box-sizing: border-box;

}



















/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
